node_modules
pnpm-debug.log
npm-debug.log

build
coverage
tmp
.hot-hook

tests
**/*.spec.ts

.vscode
.idea
*.swp
*.swo
.DS_Store

.git
.gitignore
.gitattributes

.github

*.md
!README.md

.env
.env.*
!.env.example
!.env.test.example

logs
*.log

.prettierignore
commitlint.config.js
.lintstagedrc.js

.temp
.tmp
